/* about.css */
.about-section {
  padding: 5rem 0;
  background-color: #f0f4f8;
}

.about-section h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
}

.about-section p {
  font-family: "Lora", serif;
  font-size: 1.1em;
  text-align: justify;
}
