.contact-section {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f4f8;
}

.contact-info {
  margin-top: 20px;
}

.contact-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}

.wsp-button {
  width: 400px; /* Ajusta el tamaño del botón de WhatsApp */
  margin-top: 20px;
}

#mapsPing {
  color: #f0f4f8;
}

@media (max-width: 768px) {
  .contact-info p {
    font-size: 1em; /* Ajusta el tamaño del texto en pantallas pequeñas */
  }

  .wsp-button {
    width: 300px; /* Ajusta el tamaño del botón en pantallas pequeñas */
  }
}
