/* Estilos generales */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("/assets/images/Background.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #f5f5f5;
  position: relative;
}

/* Capa para controlar la opacidad del fondo */
.backgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.823);
  z-index: 1;
}

/* Contenedor principal */
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  max-width: 1200px;
  margin: 20px;
  z-index: 2;
  position: relative;
}

/* Estilos de la imagen */
#image {
  width: 430px;
  height: auto;
  transition: transform 0.3s ease-in-out;
  margin-top: -20px;
}

#image:hover {
  transform: scale(1.05);
}

/* Estilos del texto principal */
#mainText {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
  text-align: center;
  max-width: 600px;
  line-height: 1.6;
}

#infoText,
#infoText2 {
  font-size: 1em;
  color: #333;
  text-align: center;
  max-width: 900px;
  line-height: 1.6;
}

/* Estilo para la información de contacto */
.infoContainer {
  position: relative;
  width: 100%; /* Cambia el ancho a 100% */
  max-width: 600px; /* Ancho máximo para pantallas grandes */
  height: 110px;
  border: 2px solid rgb(1, 50, 152);
  margin-top: 20px;
  padding: 5px; /* Agrega un poco de padding */
  box-sizing: border-box; /* Asegúrate de que el padding no afecte el tamaño total */
}

/* Posiciona los elementos en las esquinas del contenedor */
.infoItem {
  position: absolute;
  font-size: 1em;
  color: #333;
}

/* Ajusta las posiciones de los elementos para pantallas pequeñas */
#topLeft {
  top: 10px;
  left: 90px;
}

#topRight {
  top: 10px;
  right: 90px;
}

#bottomLeft {
  bottom: 10px;
  left: 90px;
}

#bottomRight {
  bottom: 10px;
  right: 90px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  #image {
    width: 140%;
    max-width: 500px;
  }

  #mainText {
    font-size: 1em;
  }

  #infoText,
  #infoText2,
  .infoItem {
    font-size: 0.5em;
  }

  /* Ajusta el tamaño del contenedor en pantallas pequeñas */
  .infoContainer {
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    height: 90px; /* Cambia a auto para que se ajuste al contenido */
  }
  /* Ajusta las posiciones de los elementos para pantallas pequeñas */
  #topLeft {
    top: 10px;
    left: 10px;
  }

  #topRight {
    top: 10px;
    right: 10px;
  }

  #bottomLeft {
    bottom: 10px;
    left: 10px;
  }

  #bottomRight {
    bottom: 10px;
    right: 10px;
  }
}
